.home-wrapper {
  // SECTION 1
  .section1 {
    margin-top: 70px;
    position: relative;

    &-top-block {
      display: flex;

      > div {
        flex: 1;
        align-items: center;
      }
    }

    &-heo-container {
      @include mobile {
        display: none;
      }
    }

    &-hero {
      width: 630px;
      z-index: -1;
      top: -127px;
      position: absolute;
    }

    &-hero-white-box {
      height: 54px;
      width: 138px;
      background-color: white;
      position: absolute;
      bottom: -399px;
      left: 260px;
    }

    &-hello {
      position: relative;
      padding-top: 72px;
      font-family: "Gobold Regular", "Open Sans";
      font-size: 19px;
      color: #1c1c1c;

      &-img {
        object-fit: contain;
        max-width: 250px;
        height: 131px;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }

    &-caption {
      margin-top: 20px;
      line-height: 44px;
      letter-spacing: 0.7px;
      font-family: "Gotham Medium", "Open Sans";
      font-size: 34px;
    }

    &-bio {
      margin-bottom: 8px;
      letter-spacing: 0.7px;
      font-family: "Nunito Extra Light", "Open Sans";
      font-size: 20px;
    }

    &-oval {
      position: absolute;
      bottom: 70px;
      left: 8.6%;
      width: 60%;
      background-color: $blue-light;
      border-radius: 50%;
      padding: 12px 9%;
      border: 8px solid #fff;

      @include mobile {
        position: static;
        margin-top: 8px;
      }

      &-text {
        font-family: "Nunito Extra Light", "Open Sans";
        font-size: 16px;

        @include mobile {
          font-size: 14px;
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      margin-top: 80px;

      @include mobile {
        margin-top: 24px;
      }

      .fill-btn {
        margin-right: 20px;
      }
    }
  }

  // SECTION 2
  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    padding: 32px 0;
    background-color: $gray1;

    @include mobile {
      flex-wrap: wrap;
      padding-top: 32px;
      padding-bottom: 8px;
    }

    &-img {
      margin: 0 30px;

      @include mobile {
        width: 28%;
        margin-bottom: 24px;
      }

      img {
        object-fit: contain;
      }
    }
  }

  // SECTION 3
  .section3 {
    margin-top: 70px;

    &-top-block {
      display: flex;
      position: relative;

      &-title {
        position: absolute;
        bottom: 0;
        left: 9px;
        font-family: "Gobold Regular", "Open Sans";
        font-size: 32px;
        letter-spacing: 0.2px;
        color: #1c1c1c;
        z-index: 1;
      }

      &-title-big {
        font-family: "Gobold Regular", "Open Sans";
        font-size: 90px;
        line-height: 102px;
        color: $gray2;
      }
    }

    &-flex {
      display: flex;
      margin-top: 32px;
      margin-bottom: 24px;

      @include mobile {
        flex-direction: column-reverse;
      }
    }

    &-img {
      flex: 1.1;
      background-color: $blue-light;
      padding: 32px;
      border-radius: 8px;
      margin-left: 40px;
      align-self: flex-start;

      @include mobile {
        margin-left: 0;
        margin-bottom: 8px;
        padding: 24px;
      }

      img {
        width: 100%;
        object-fit: contain;
        display: block;
      }
    }

    &-bio {
      padding: 20px 0;
      font-family: "Nunito Light", "Open Sans";
      font-size: 24px;
      flex: 1;
    }
  }

  // SECTION 4
  .section4 {
    margin: 70px 0;

    &-top-block {
      display: flex;
      position: relative;

      &-title {
        position: absolute;
        bottom: 0;
        left: 4px;
        font-family: "Gobold Regular", "Open Sans";
        font-size: 32px;
        letter-spacing: 0.2px;
        color: #1c1c1c;
        z-index: 1;
      }

      &-title-big {
        font-family: "Gobold Regular", "Open Sans";
        font-size: 90px;
        line-height: 99px;
        color: $gray2;
      }
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: stretch;
      overflow: hidden;
      text-align: right;
      margin-top: 60px;
      margin-bottom: 100px;
      overflow: visible; // For image scale transition

      @include mobile {
        flex-direction: column;
        text-align: left;
      }

      &-title {
        font-family: "Gobold Regular", "Open Sans";
        font-size: 44px;
        line-height: 62px;
      }

      &-caption {
        font-family: "Gobold Regular", "Open Sans";
        font-size: 18px;
        line-height: 40px;
        color: $gray3;
      }

      &-bio {
        font-family: "Nunito Light", "Open Sans";
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        margin-bottom: 8px;
        padding-left: 16px;

        @include mobile {
          padding-left: 0;
        }
      }

      .read-more {
        margin-top: auto;
        margin-bottom: 4px;
      }
    }

    &-content-img {
      border-radius: 8px;
      margin-right: 36px;
      max-width: 600px;
      @include transition(all 0.25s);

      @include mobile {
        margin-right: 0;
        max-width: unset;
        margin-bottom: 16px;
      }

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &-content-texts {
      display: flex;
      flex-direction: column;

      @include mobile {
        align-items: flex-start;
      }
    }

    &-content.reverse {
      flex-direction: row-reverse;
      text-align: left;

      @include mobile {
        flex-direction: column;
      }

      .section4-content-img {
        margin-right: unset;
        margin-left: 36px;

        @include mobile {
          margin-left: 0;
        }
      }

      .section4-content-bio {
        padding-right: 24px;
        padding-left: unset;
      }
    }
    &-footer {
      text-align: center;
      font-family: "Nunito Light", "Open Sans";
      font-size: 20px;

      .underline-border {
        border-bottom: 1px solid $primary-color;
        height: 22px;
        display: inline-block;
      }
    }
  }

  // Famous Quote
  .famous-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    padding: 40px 0 28px 0;
    background-color: $gray1;
    color: $text-color2;
    font-size: 21px;
    font-family: "Nunito Extra Light", "Open Sans";

    @include mobile {
      padding: 24px 8%;
    }

    p:first-child {
      margin-bottom: 4px;
      letter-spacing: 0.3px;
    }
  }

  // YOUTUBE SECTION
  .youtube {
    margin: 70px 0;

    &-top-block {
      display: flex;
      position: relative;

      &-title {
        position: absolute;
        bottom: 0;
        left: 16px;
        font-family: "Gobold Regular", "Open Sans";
        font-size: 32px;
        letter-spacing: 0.2px;
        color: #1c1c1c;
        z-index: 1;
      }

      &-title-big {
        font-family: "Gobold Regular", "Open Sans";
        font-size: 90px;
        line-height: 99px;
        color: $gray2;
      }
    }

    &-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: stretch;
      overflow: hidden;
      text-align: right;
      margin-top: 60px;
      margin-bottom: 100px;

      @include mobile {
        flex-direction: column;
        text-align: left;
      }

      &-title {
        font-family: "Nunito SemiBold", "Open Sans";
        font-size: 16px;
        line-height: 28px;

        @include mobile {
          margin-top: 8px;
        }
      }

      &-bio {
        font-family: "Nunito Light", "Open Sans";
        font-size: 16px;
        line-height: 17px;
        margin-top: 4px;
        padding-left: 16px;

        @include mobile {
          padding-left: 0;
          margin: 16px 0;
        }
      }

      .visit-channel {
        margin-top: auto;
        margin-bottom: 4px;
        background-color: $primary-color;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 53px;
        cursor: pointer;
        @include transition(all 0.25s);
        @include mobile {
          align-self: flex-start;
          padding: 0 20px;
        }

        &-text {
          color: #ffffff;
          font-size: 20px;
          font-family: "Nunito SemiBold", "Open Sans";
          margin-right: 10px;
        }
      }
    }

    .youtube-content-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        .youtube-circle {
          background-color: rgba(0, 0, 0, 0.1);

          img {
            transform: scale(1.05);
          }
        }
      }

      .youtube-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 119px;
        height: 119px;
        border-radius: 119px;
        background-color: rgba(0, 0, 0, 0.2);
        @include transition(all 0.25s);

        img {
          @include transition(all 0.25s);
        }
      }
    }

    &-content-img {
      border-radius: 8px;
      margin-right: 36px;
      max-width: 610px;
      flex: 3;
      align-self: flex-start;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-content-texts {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  // INSTAGRAM SECTION
  .instagram {
    margin: 70px 0;

    &-top-block {
      display: flex;
      position: relative;
      margin-bottom: 50px;

      &-title {
        position: absolute;
        bottom: 0;
        left: 4px;
        font-family: "Gobold Regular", "Open Sans";
        font-size: 32px;
        letter-spacing: 0.2px;
        color: #1c1c1c;
        z-index: 1;
      }

      &-title-big {
        font-family: "Gobold Regular", "Open Sans";
        font-size: 90px;
        line-height: 99px;
        color: $gray2;
      }
    }

    .carousel-wrapper {
      position: relative;

      .controls-prev-icon,
      .controls-next-icon {
        background: transparent;
        border: 0;
        outline: none;
        position: absolute;
        cursor: pointer;
        @include mobile {
          padding: 12px;
        }

        &.inactive {
          opacity: 0.7;
          cursor: default;
        }
      }

      .controls-prev-icon {
        left: -40px;

        @include mobile {
          left: -32px;
        }
      }
      .controls-next-icon {
        right: -40px;

        @include mobile {
          right: -32px;
        }
      }
    }

    .carousel-container {
      width: 100%;
      height: 332px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }

    .carousel {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;

      &-card {
        position: relative;
        min-width: calc(33.3% - 16px);
        margin-right: 24px;
        display: inline-block;

        @include mobile {
          margin-right: 16px;
          min-width: calc(33.3% - 8px);
        }

        &-img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }

        &:hover {
          .carousel-card-overlay {
            opacity: 1;
          }
        }
      }
    }

    .carousel-card-overlay {
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      @include transition(all 0.4s);
    }
  }
}
