@font-face {
  font-family: "Nunito Extra Light";
  src: url("./../fonts/nunito/Nunito-ExtraLight.ttf"); }

@font-face {
  font-family: "Nunito Light";
  src: url("./../fonts/nunito/Nunito-Light.ttf"); }

@font-face {
  font-family: "Nunito Regular";
  src: url("./../fonts/nunito/Nunito-Regular.ttf"); }

@font-face {
  font-family: "Nunito SemiBold";
  src: url("./../fonts/nunito/Nunito-SemiBold.ttf"); }

@font-face {
  font-family: "Nunito Bold";
  src: url("../fonts/nunito/Nunito-Bold.ttf"); }

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/gotham/GothamMedium.ttf"); }

@font-face {
  font-family: "Gobold Regular";
  src: url("../fonts/gobold/GoboldThin.ttf"); }

@font-face {
  font-family: "Gobold Bold";
  src: url("../fonts/gobold/GoboldBold.ttf"); }

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none !important; }

.color-primary {
  color: #684aee !important; }

.text-right {
  text-align: right; }

.container {
  padding: 0 18%; }

.fill-btn {
  background-color: #684aee;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  cursor: pointer; }
  .fill-btn-text {
    color: #fff;
    font-size: 20px;
    font-family: "Nunito Light", "Open Sans"; }

.outline-btn {
  border: 2px solid #684aee;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  cursor: pointer; }
  .outline-btn-text {
    color: #684aee;
    font-size: 20px;
    font-family: "Nunito Light", "Open Sans"; }

.read-more {
  background-color: #684aee;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: pointer; }
  .read-more-text {
    color: #ffffff;
    font-size: 12px;
    font-family: "Nunito Light", "Open Sans"; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0; }
  .header-name {
    font-family: "Gotham Medium", "Open Sans";
    font-size: 24px;
    margin-top: 30px;
    margin-left: -2px; }
  .header-nav {
    position: relative;
    width: 300px; }
  .header-nav-item {
    background: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.33333%;
    text-align: center; }
    .header-nav-item:first-child {
      border-radius: 3px 0 0 3px; }
    .header-nav-item:last-child {
      border-radius: 0 3px 3px 0; }
    .header-nav-item.is-active a {
      color: #684aee; }
    .header-nav-item a {
      color: #111010;
      display: block;
      padding-top: 20px;
      padding-bottom: 8px;
      text-decoration: none;
      font-family: "Nunito Light", "Open Sans";
      font-size: 16px; }
      .header-nav-item a:hover {
        color: #684aee; }
  .header-nav-item:last-child:hover:before, .header-nav-item:last-child.is-active:before {
    left: 83.33333% !important; }
  .header-nav-item:last-child:hover:after, .header-nav-item:last-child.is-active:after {
    left: 66.66667% !important; }
  .header-nav-item:last-child:before, .header-nav-item:last-child:after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    transition: left 0.6s ease; }
  .header-nav-item:last-child:before {
    border: 6px solid transparent;
    width: 0;
    height: 0;
    top: 0;
    left: 16.66667%;
    margin-left: -3px; }
  .header-nav-item:last-child:after {
    border-bottom: 2px solid #684aee;
    top: -6px;
    bottom: -6px;
    left: 0;
    width: 33.33333%;
    z-index: -1; }
  .header .header-nav-item:nth-child(1).is-active
~ .header-nav-item:last-child:after {
    left: 0%; }
  .header .header-nav-item:nth-child(1).is-active
~ .header-nav-item:last-child:before {
    left: 16.66667%; }
  .header .header-nav-item:nth-child(1):hover
~ .header-nav-item:last-child:after {
    left: 0% !important; }
  .header .header-nav-item:nth-child(1):hover
~ .header-nav-item:last-child:before {
    left: 16.66667% !important; }
  .header .header-nav-item:nth-child(2).is-active
~ .header-nav-item:last-child:after {
    left: 33.33333%; }
  .header .header-nav-item:nth-child(2).is-active
~ .header-nav-item:last-child:before {
    left: 50%; }
  .header .header-nav-item:nth-child(2):hover
~ .header-nav-item:last-child:after {
    left: 33.33333% !important; }
  .header .header-nav-item:nth-child(2):hover
~ .header-nav-item:last-child:before {
    left: 50% !important; }

.section1 {
  margin-top: 70px;
  position: relative; }
  .section1-top-block {
    display: flex; }
    .section1-top-block > div {
      flex: 1;
      align-items: center; }
  .section1-hero {
    object-fit: contain;
    width: 455px;
    height: 300px;
    margin: auto;
    display: block; }
  .section1-hello {
    position: relative;
    padding-top: 72px;
    font-family: "Gobold Regular", "Open Sans";
    font-size: 19px;
    color: #1c1c1c; }
    .section1-hello-img {
      object-fit: contain;
      max-width: 250px;
      height: 131px;
      position: absolute;
      top: 0;
      z-index: -1; }
  .section1-bio {
    margin-top: 20px;
    line-height: 44px;
    letter-spacing: 0.7px;
    font-family: "Gotham Medium", "Open Sans";
    font-size: 28px; }
  .section1-oval {
    position: absolute;
    bottom: 90px;
    left: 8.6%;
    width: 54%;
    background-color: #f7f5ff;
    border-radius: 50%;
    padding: 12px 9%;
    border: 8px solid #fff; }
    .section1-oval-text {
      font-family: "Nunito Light", "Open Sans";
      font-size: 16px; }
      .section1-oval-text .color-primary {
        font-family: "Nunito SemiBold", "Open Sans"; }
  .section1-footer {
    display: flex;
    align-items: center;
    margin-top: 60px; }
    .section1-footer .fill-btn {
      margin-right: 20px; }

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
  padding: 32px 0;
  background-color: #f5f5f6; }
  .section2-img {
    margin: 0 30px; }
    .section2-img img {
      object-fit: contain; }

.section3 {
  margin-top: 70px; }
  .section3-top-block {
    display: flex;
    position: relative; }
    .section3-top-block-title {
      position: absolute;
      bottom: 0;
      left: 9px;
      font-family: "Gobold Regular", "Open Sans";
      font-size: 32px;
      letter-spacing: 0.2px;
      color: #1c1c1c;
      z-index: 1; }
    .section3-top-block-title-big {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 90px;
      line-height: 102px;
      color: #f4f4f4; }
  .section3-flex {
    display: flex;
    margin-top: 32px;
    margin-bottom: 24px; }
  .section3-img {
    flex: 1.1;
    background-color: #f7f5ff;
    padding: 32px;
    border-radius: 8px;
    margin-left: 40px;
    align-self: flex-start; }
    .section3-img img {
      width: 100%;
      object-fit: contain;
      display: block; }
  .section3-bio {
    padding: 20px 0;
    font-family: "Nunito Light", "Open Sans";
    font-size: 24px;
    flex: 1; }

.section4 {
  margin: 70px 0; }
  .section4-top-block {
    display: flex;
    position: relative; }
    .section4-top-block-title {
      position: absolute;
      bottom: 0;
      left: 4px;
      font-family: "Gobold Regular", "Open Sans";
      font-size: 32px;
      letter-spacing: 0.2px;
      color: #1c1c1c;
      z-index: 1; }
    .section4-top-block-title-big {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 90px;
      line-height: 99px;
      color: #f4f4f4; }
  .section4-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    text-align: right;
    margin-top: 60px;
    margin-bottom: 100px; }
    .section4-content-title {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 44px;
      line-height: 62px; }
    .section4-content-caption {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 18px;
      line-height: 40px;
      color: #777777; }
    .section4-content-bio {
      font-family: "Nunito Light", "Open Sans";
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
      margin-bottom: 8px;
      padding-left: 16px; }
    .section4-content .read-more {
      margin-top: auto;
      margin-bottom: 4px; }
  .section4-content-img {
    border-radius: 8px;
    margin-right: 36px;
    max-width: 600px; }
    .section4-content-img img {
      width: 100%;
      object-fit: contain; }
  .section4-content-texts {
    display: flex;
    flex-direction: column; }
  .section4-content.reverse {
    flex-direction: row-reverse;
    text-align: left; }
    .section4-content.reverse .section4-content-img {
      margin-right: unset;
      margin-left: 36px; }
    .section4-content.reverse .section4-content-bio {
      padding-right: 24px;
      padding-left: unset; }
  .section4-footer {
    text-align: center;
    font-family: "Nunito Light", "Open Sans";
    font-size: 20px; }
    .section4-footer .underline-border {
      border-bottom: 1px solid #684aee;
      height: 22px;
      display: inline-block; }

.famous-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
  padding: 40px 0 28px 0;
  background-color: #f5f5f6;
  color: #5A5A5A;
  font-size: 21px;
  font-family: "Nunito Extra Light", "Open Sans"; }
  .famous-quote p:first-child {
    margin-bottom: 4px;
    letter-spacing: 0.3px; }

.youtube {
  margin: 70px 0; }
  .youtube-top-block {
    display: flex;
    position: relative; }
    .youtube-top-block-title {
      position: absolute;
      bottom: 0;
      left: 16px;
      font-family: "Gobold Regular", "Open Sans";
      font-size: 32px;
      letter-spacing: 0.2px;
      color: #1c1c1c;
      z-index: 1; }
    .youtube-top-block-title-big {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 90px;
      line-height: 99px;
      color: #f4f4f4; }
  .youtube-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    text-align: right;
    margin-top: 60px;
    margin-bottom: 100px; }
    .youtube-content-title {
      font-family: "Nunito SemiBold", "Open Sans";
      font-size: 16px;
      line-height: 28px; }
    .youtube-content-bio {
      font-family: "Nunito Light", "Open Sans";
      font-size: 16px;
      line-height: 17px;
      margin-top: 4px;
      padding-left: 16px; }
    .youtube-content .visit-channel {
      margin-top: auto;
      margin-bottom: 4px;
      background-color: #684aee;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 53px;
      cursor: pointer; }
      .youtube-content .visit-channel-text {
        color: #ffffff;
        font-size: 20px;
        font-family: "Nunito SemiBold", "Open Sans";
        margin-right: 10px; }
  .youtube-content-img {
    border-radius: 8px;
    margin-right: 36px;
    max-width: 610px;
    flex: 3; }
    .youtube-content-img img {
      width: 100%;
      object-fit: contain; }
  .youtube-content-texts {
    display: flex;
    flex-direction: column;
    flex: 1; }

.instagram {
  margin: 70px 0; }
  .instagram-top-block {
    display: flex;
    position: relative;
    margin-bottom: 50px; }
    .instagram-top-block-title {
      position: absolute;
      bottom: 0;
      left: 4px;
      font-family: "Gobold Regular", "Open Sans";
      font-size: 32px;
      letter-spacing: 0.2px;
      color: #1c1c1c;
      z-index: 1; }
    .instagram-top-block-title-big {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 90px;
      line-height: 99px;
      color: #f4f4f4; }
  .instagram .carousel-wrapper {
    position: relative; }
    .instagram .carousel-wrapper .controls-prev-icon,
    .instagram .carousel-wrapper .controls-next-icon {
      background: transparent;
      border: 0;
      outline: none;
      position: absolute; }
      .instagram .carousel-wrapper .controls-prev-icon.inactive,
      .instagram .carousel-wrapper .controls-next-icon.inactive {
        opacity: 0.7; }
    .instagram .carousel-wrapper .controls-prev-icon {
      left: -40px; }
    .instagram .carousel-wrapper .controls-next-icon {
      right: -40px; }
  .instagram .carousel-container {
    width: 100%;
    height: 332px;
    position: relative;
    overflow: hidden;
    margin: 0 auto; }
  .instagram .carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease; }
    .instagram .carousel-card {
      min-width: calc(33.3% - 16px);
      margin-right: 24px;
      display: inline-block; }
      .instagram .carousel-card-img {
        width: 100%;
        border-radius: 4px; }

.footer {
  margin-bottom: 100px; }
  .footer-title {
    font-family: "Gobold Regular", "Open Sans";
    font-size: 35px;
    line-height: 60px;
    letter-spacing: 1.2px;
    font-weight: 400; }
  .footer-contact {
    display: flex;
    margin-top: 70px;
    justify-content: space-between; }
    .footer-contact-title {
      font-family: "Gobold Regular", "Open Sans";
      font-size: 16px;
      color: #1c1c1c;
      margin-bottom: 24px; }
    .footer-contact-text {
      font-size: 15px;
      font-family: "Nunito Light", "Open Sans";
      color: #5A5A5A; }
