// ======= HEADER VARIABLES =========

// Menu Item Variables
// The number of items in the menu
$menu-items: 3;
// We multiply it by 1% to get the correct % unit
$width: (100 / $menu-items) * 1%;

// ======= PROJECTS TAB VARIABLES =========// Menu Item Variables
$projects-menu-items: 4;
$projects-menu-width: (100 / $projects-menu-items) * 1%;
