@import "./variables/variables";
@import "./fonts";
@import "./mixins";

// Tabs Styles
@import "./home/home";
@import "./projects/projects";
@import "./resume/resume";

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.color-primary {
  color: $primary-color !important;
}

.text-right {
  text-align: right;
}

.container {
  padding: 0 18%;
}

.hover-translateY-transition:hover {
  transform: translateY(-4px);
}

.hover-scale-transition:hover {
  transform: scale(1.2);
}

.line-seperator {
  height: 1px;
  width: 40%;
  background-color: $primary-color;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 10px;
}

// Buttons
.fill-btn {
  background-color: $primary-color;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  cursor: pointer;
  @include transition(all 0.25s);

  &-text {
    color: #fff;
    font-size: 20px;
    font-family: "Nunito Light", "Open Sans";
  }
}

.outline-btn {
  border: 2px solid $primary-color;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  cursor: pointer;
  @include transition(all 0.3s);

  &-text {
    color: $primary-color;
    font-size: 20px;
    font-family: "Nunito Light", "Open Sans";
  }
}

.read-more {
  background-color: $primary-color;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: pointer;
  @include transition(all 0.3s);

  &:hover {
    background-color: $primary-color-light;
  }

  &-text {
    color: #ffffff;
    font-size: 12px;
    font-family: "Nunito Light", "Open Sans";
  }
}

// HEADER
.header {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;

  &-name {
    font-family: "Gotham Medium", "Open Sans";
    font-size: 24px;
    margin-top: 30px;
    margin-left: -2px;
  }

  &-nav {
    position: relative;
    width: 300px;

    &-border {
      position: absolute;
      left: 0;
      bottom: 0;
      width: $width;
      @include transition(all 0.35s);

      > div {
        background-color: $primary-color;
        border-radius: 8px;
        height: 2px;
        margin: 0 $width - 20%;
      }
    }
  }

  &-nav-item {
    position: relative;
    background: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: $width; //dynamic width
    text-align: center;
    cursor: pointer;

    &.is-active a {
      color: $indicator-color;
      font-family: "Nunito Regular", "Open Sans";
    }

    &:hover {
      a {
        color: $indicator-color;
      }
    }

    a {
      color: $text-color;
      display: block;
      padding-top: 20px;
      padding-bottom: 8px;
      text-decoration: none;
      font-family: "Nunito Light", "Open Sans";
      font-size: 16px;
      pointer-events: none;
      @include transition(all 0.25s);
    }
  }
}

// Footer
.footer {
  margin-bottom: 50px;

  &-title {
    font-family: "Gobold Bold", "Open Sans";
    font-size: 48px;
    line-height: 80px;
    letter-spacing: 1.2px;
    font-weight: 400;
  }

  &-contact {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;

    &-title {
      font-family: "Gobold Bold", "Open Sans";
      font-size: 22px;
      color: #1c1c1c;
      margin-bottom: 30px;
      letter-spacing: 1.3px;
    }

    &-text {
      font-size: 24px;
      font-family: "Nunito Light", "Open Sans";
      color: $text-color2;
    }
  }

  .social-icon {
    margin-right: 8px;
  }
}

// Floating Button
.go-to-top {
  background-color: $primary-color;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 66px;
  bottom: 60px;
  pointer-events: none;
  opacity: 0;
  @include transition(all 0.3s);

  img {
    margin-bottom: 2px;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }
}

.tabcontent {
  opacity: 0;
  @include transition(all 0.7s);
}
