// Nunito
@font-face {
  font-family: "Nunito Light";
  src: url("../../fonts/nunito/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../../fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url("../../fonts/nunito/Nunito-SemiBold.ttf");
}

// Gotham
@font-face {
  font-family: "Gotham Medium";
  src: url("../../fonts/gotham/GothamMedium.ttf");
}

@font-face {
  font-family: "Gobold Regular";
  src: url("../../fonts/gobold//GoboldBold.ttf");
}
