// Menu Item Variables
// The number of items in the menu
$menu-items: 3;
// We multiply it by 1% to get the correct % unit
$width: (100 / $menu-items) * 1%;

// Transition Speed
$transition-speed: 0.6s;
$menu-items-loop-offset: $menu-items - 1; // the number of items in the menu

// Colors

// Theme
$primary-color: #684aee;
$primary-color-light: #7a60f0;
$blue-light: #f7f5ff;

// Gray
$gray1: #f5f5f6;
$gray2: #f4f4f4;
$gray3: #777777;
$gray4: #808080;

//Text
$text-color: #111010;
$text-color2: #5a5a5a;

// Extra
$indicator-color: $primary-color;
